body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgray;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  width: 30px;
  height: 30px;
  background-color: black;
}

.square-selected {
  background-color: purple;
}

.inputHolder {
  display: flex;
  flex-direction: column;
}

.field {
  padding-top: 5px;
}

.board {
  margin-bottom: 10px;
}